<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web電卓</title>
    <style>
        body {
            text-align: center;
        }
        h1 {
            color: #0000ff;
        }
        .submit {
            color: #ff0000;
        }
    </style>
</head>
<body>
    <h1>Web電卓</h1>
    <p>計算したい値を入力し、演算子を選択してください。(小数第2位まで可）</p>
    <form th:action="@{/result}" th:object="${fdat}" method="post">
        <input type="number" step="0.01" th:field="*{num1}" />
        <select th:field="*{ope}">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="×">×</option>
            <option value="÷">÷</option>
        </select>
        <input type="number" step="0.01" th:field="*{num2}" />
        <input class="submit" type="submit" value="計算">
    </form>
</body>
</html>